@{
    ViewBag.Title = "Perfil da empresa";
}

<style>
    .label_pagination {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        margin: 20px 0;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Notícias</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Notícias</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
    <div>


    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">


        <div class="col-lg-6">
            <span class="label_pagination">Página 1 de 125 - 1.350 notícias</span>
        </div>
        <div class="col-lg-6">

            <ul class="pagination pull-right">

                <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                <li class="footable-page"><a data-page="1" href="#">2</a></li>
                <li class="footable-page"><a data-page="1" href="#">3</a></li>
                <li class="footable-page"><a data-page="1" href="#">4</a></li>
                <li class="footable-page"><a data-page="1" href="#">5</a></li>
                <li class="footable-page"><a data-page="1" href="#">6</a></li>
                <li class="footable-page"><a data-page="1" href="#">7</a></li>
                <li class="footable-page"><a data-page="1" href="#">8</a></li>
                <li class="footable-page"><a data-page="1" href="#">9</a></li>
                <li class="footable-page"><a data-page="1" href="#">10</a></li>
                <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
            </ul>

        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Noticia_Detalhe", "Empresa")" class="btn-link">
                        <h2>
                            Coca-Cola Brasil entra no mercado de café
                        </h2>
                    </a>

                    <div class="small m-b-xs">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Out 2016</span>
                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                        <br /><br />
                        Segundo a Coca-Cola, a produção do Café Leão ...
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Autor:</h5>
                                <div> <i class="fa fa-user"> </i> Redação </div>
                                <div>
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <span class="label_pagination">Página 1 de 125 - 1.350 notícias</span>
        </div>
        <div class="col-lg-6">

            <ul class="pagination pull-right">

                <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                <li class="footable-page"><a data-page="1" href="#">2</a></li>
                <li class="footable-page"><a data-page="1" href="#">3</a></li>
                <li class="footable-page"><a data-page="1" href="#">4</a></li>
                <li class="footable-page"><a data-page="1" href="#">5</a></li>
                <li class="footable-page"><a data-page="1" href="#">6</a></li>
                <li class="footable-page"><a data-page="1" href="#">7</a></li>
                <li class="footable-page"><a data-page="1" href="#">8</a></li>
                <li class="footable-page"><a data-page="1" href="#">9</a></li>
                <li class="footable-page"><a data-page="1" href="#">10</a></li>
                <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
            </ul>

        </div>
    </div>
</div>
